div {
  background-color: rgb(169, 169, 169);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.logo-and-slogan {
  height: 100px;
}
.header {
  height: 200px;
}
.outer-box {
  background-color: transparent;
  width: 100%;
  margin: 0px;
}
.navigation-box {
  width: 23%;
  height: 50px;
  margin: 16px;
}
.about {
  width: 50%;
  height: 300px;
}
.quick-link-box {
  width: 50%;
  flex-direction: column;
}
.quick-link {
  width: 90%;
  height: 130px;
}
.footer {
  height: 200px;
}
